#titleText {
  font-size: 14;
  /* line-height: 1.1; */
  color: #FFFFFF;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  /* animation-name: fadeIn;
  animation-duration: 1s; */
}

#BannerContainer {
  position: relative;
  margin: 0 auto;
  clear: left;
  z-index: 0;
  background-color: #000000;
  height: 100%;
  border-radius: 10px;
  padding-top: 70px;
  padding-bottom: 70px;
  width: 100%;
  cursor: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" fill="white" stroke="%23000000" width="20px" height="20px" viewBox="0 0 10.04 10.04"><circle cx="5.02" cy="5.02" r="4.52"/></svg>') 10 10, auto;
}

#timelineBase {
  border-left: 3px solid #000000;
  height: 800px;
  position: relative;
  left: 50%;
  margin-top: 10px;
  width: 50%;
}

#divWrapper {
  cursor: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" fill="black" stroke="%23000000" width="20px" height="20px" viewBox="0 0 10.04 10.04"><circle cx="5.02" cy="5.02" r="4.52"/></svg>') 10 10, auto;
}

@keyframes fadeIn {
  from {
    transform: translateY(30px);
    opacity: 0;
  } to {
    transform: translateY(0);
    opacity: 1;
  }
}

.fadeIn {
  animation: fadeIn 1s;
}

.fadeInSlow {
  animation: fadeIn 3s;
}

