* {
  background-color: rgb(225, 225, 225)
}

#titleText {
  font-size: 50px;
  /* line-height: 1.1; */
  color: #FFFFFF;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
  background-color: #000000;
  font-weight: bolder;
  /* animation-name: fadeIn;
  animation-duration: 1s; */
}

#BannerContainer {
  position: relative;
  margin: 0 auto;
  clear: left;
  z-index: 0;
  background-color: #000000;
  height: 100%;
  border-radius: 10px;
  padding-top: 40px;
  padding-bottom: 40px;
  width: 100%;
  cursor: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" fill="white" stroke="%23000000" width="20px" height="20px" viewBox="0 0 10.04 10.04"><circle cx="5.02" cy="5.02" r="4.52"/></svg>') 10 10, auto;
  /* font-family: 'Courier New', Courier, monospace; */
}

#timelineBase {
  border-left: 3px solid #000000;
  height: 800px;
  position: relative;
  left: 50%;
  width: 50%;
  padding-top: 15px;
}

#divWrapper {
  cursor: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" fill="black" stroke="%23000000" width="20px" height="20px" viewBox="0 0 10.04 10.04"><circle cx="5.02" cy="5.02" r="4.52"/></svg>') 10 10, auto;
}

#BioImage {
  border-radius: 10px;
  width: 300px;
  height: 300px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 10px;
}

#BioText {
  font-family: 'Courier New', Courier, monospace;
  text-align: left;
  font-size: 20px;
  padding-left: 10px;
  padding-right: 10px;
  font-weight: normal;
}

#WholeBioWrapper{
  display: flex;
  cursor: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" fill="black" stroke="%23000000" width="20px" height="20px" viewBox="0 0 10.04 10.04"><circle cx="5.02" cy="5.02" r="4.52"/></svg>') 10 10, auto;
}

@keyframes fadeIn {
  from {
    transform: translateY(30px);
    opacity: 0;
  } to {
    transform: translateY(0);
    opacity: 1;
  }
}

.fadeIn {
  animation: fadeIn 1s;
}

.fadeInKindaSlow {
  animation: fadeIn 2s;
}

.fadeInSlow {
  animation: fadeIn 3s;
}

