.html, body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.about-page-standin {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    padding: 20px;
}