html {
  margin: 0;
  padding: 0;  
  height: 100vh;
}

body {
  margin: 0;
  padding: 0;  
  min-height: 100%;
}

.title {
  font-family: 'Courier New', Courier, monospace;
  color: white;
  /* border-bottom: solid; */
  /* padding-bottom: 10px; */
}

.siteStructure { /*parent container*/
  display: grid;
  justify-content: center;
  align-items: center;
  margin: 0;      
  grid-template-columns: 1fr 1fr;
  height: 100vh;
}

.headerWrap { /*header section*/
  grid-column: span 3;
  grid-row: span 1;
  padding: 10px;
  justify-items: center;
  align-items: center;
  text-align: center;

  border-radius: 10px;
  border-width: 2px;
  border: solid #000;
  padding: 20px;
  box-shadow: 2px 2px white;
  box-sizing: border-box;
  margin: 10px;
  background-color: black;
  /* height: 100%; */
  /* grid-row: span 3; */
  /* flex-wrap: wrap; */
  /* border: 1px solid black; */
}

.cardWrap { /*cards container*/
  display: flex;
  flex-direction: row;
  gap: 0px;
  grid-column: span 3;
  grid-row: span 25;
  /* border: 1px solid black;  */
  /* padding: 5px; */
  height: 100%
}

.cardHeader { /*card header formatting*/
  font-family: 'Courier New', Courier, monospace;
  /* border-bottom: solid; */
  padding-bottom: 10px;
}

.cardDescription { /*card description formatting*/
  font-family: 'Courier New', Courier, monospace;
  padding-bottom: 10px;
}

.Card { /*card formatting*/
  border-radius: 10px;
  border-width: 2px;
  border: solid #000;
  padding: 20px;
  box-shadow: 2px 2px;
  box-sizing: border-box;
  width: 100%;
  margin: 10px;
}

.Card:hover { /*card animation*/
  box-shadow: 5px 5px rgba(0, 0, 0); 
}