* {
  background-color: rgb(225, 225, 225);
  cursor: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" fill="black" stroke="%23000000" width="20px" height="20px" viewBox="0 0 10.04 10.04"><circle cx="5.02" cy="5.02" r="4.52"/></svg>') 10 10, auto;
}

html, body {
  overflow-x: hidden;
  /* overflow-y: hidden; */
}

#titleText {
  font-size: 50px;
  line-height: auto;
  color: #FFFFFF;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
  background-color: #000000;
  font-weight: bolder;
  cursor: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" fill="white" stroke="%23000000" width="20px" height="20px" viewBox="0 0 10.04 10.04"><circle cx="5.02" cy="5.02" r="4.52"/></svg>') 10 10, auto;
}

#BannerContainer {
  position: relative;
  clear: left;
  background-color: #000000;
  /* height: 100%; */
  border-radius: 10px;
  padding-top: 80px;
  padding-bottom: 80px;
  cursor: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" fill="white" stroke="%23000000" width="20px" height="20px" viewBox="0 0 10.04 10.04"><circle cx="5.02" cy="5.02" r="4.52"/></svg>') 10 10, auto;
}

#timelineBase {
  border-left: 2px solid #000000;
  height: 1500px;
  position: absolute;
  left: 50%;
  width: 40%;
  padding-top: 15px;
  z-index: 1;
  background-color: transparent;
}

#divWrapper {
  cursor: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" fill="black" stroke="%23000000" width="20px" height="20px" viewBox="0 0 10.04 10.04"><circle cx="5.02" cy="5.02" r="4.52"/></svg>') 10 10, auto;
}

#timelineLayerWrapper {
  z-index: 100px;
  background-color: transparent;
  position: absolute;
  width: 100%;
  align-items: right; 
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#timelineLayer2 {
  margin-left: auto;
  margin-right: 20px;
  max-width: calc(100vw - 40px);
}

#BioImage {
  border-radius: 10px;
  width: auto;
  height: 52.5vh;
  margin-top: 10px;
  margin-right: 10px;
  cursor: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" fill="white" stroke="%23000000" width="20px" height="20px" viewBox="0 0 10.04 10.04"><circle cx="5.02" cy="5.02" r="4.52"/></svg>') 10 10, auto;
}

#BioText {
  font-family: 'Courier New', Courier, monospace;
  text-align: left;
  font-size: 20px;
  padding-right: 10px;
  font-weight: normal;
  line-height: 20px;
}

#WholeBioWrapper{
  display: flex;
  flex-direction: row;
  cursor: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" fill="black" stroke="%23000000" width="20px" height="20px" viewBox="0 0 10.04 10.04"><circle cx="5.02" cy="5.02" r="4.52"/></svg>') 10 10, auto;
  height: auto;
  width: auto;
  text-justify: distribute-all-lines;
}

@keyframes fadeIn {
  from {
    transform: translateY(30px);
    opacity: 0;
  } to {
    transform: translateY(0);
    opacity: 1;
  }
}

.fadeIn {
  animation: fadeIn 1s;
}

.fadeInKindaSlow {
  animation: fadeIn 2s;
}

.fadeInSlow {
  animation: fadeIn 3s;
}

.fade-in-section {
  opacity: 0;
  transform: translateY(30vh);
  visibility: hidden;
  transition: opacity 1s ease-out, transform 1.2s ease-out;
  will-change: opacity, visibility;
}

.fade-in-section.is-visible {
  opacity: 1;
  transform: none;
  visibility: visible;
}

.projShowcase {
  border-radius: 10px;
  border: 3px solid #000000;
  z-index: 10;
  margin-top: 10px;
  width: 47%;
  background: transparent;
}
