html {
  margin: 0;
  padding: 0;  
  height: 100vh;
  overflow: hidden;
}

body {
  margin: 0;
  padding: 0;  
  min-height: 100%;
  overflow: hidden;
}

.title {
  font-family: 'Courier New', Courier, monospace;
  color: white;
}

.siteStructure { /*parent container*/
  display: grid;
  justify-content: center;
  align-items: center;
  margin: 0;      
  grid-template-columns: 1fr 1fr;
  height: 100vh;
}

.headerWrap { /*header section*/
  grid-column: span 3;
  grid-row: span 4;
  justify-items: center;
  align-items: center;
  text-align: center;
  height: 90%;

  border-radius: 10px;
  border-width: 2px;
  border: solid #000;
  padding: 20px;
  box-shadow: 2px 2px white;
  box-sizing: border-box;
  margin: 7px;
  background-color: black;
  animation: fadein 0.7s, translateUp 0.7s;
}

.cardWrap { /*cards container*/
  display: flex;
  flex-direction: row;
  grid-column: span 3;
  grid-row: span 25;
  height: 100%
  
}

.cardHeader { /*card header formatting*/
  font-family: 'Courier New', Courier, monospace;
  padding-bottom: 10px;
}

.cardDescription { /*card description formatting*/
  font-family: 'Courier New', Courier, monospace;
  padding-bottom: 10px;
}

.link-styles {
  border-radius: 10px;
  border-width: 2px;
  border: solid #000;
  padding: 20px;
  box-shadow: 2px 2px;
  box-sizing: border-box;
  width: 100%;
  margin: 10px;
  color: #000;
  text-decoration: none;
  opacity: 0;
  transition: box-shadow 0.3s ease-in-out, transform 0.3s ease-in-out;
}

#projectsCard {
  animation-name: fadein, translateUp;
  animation-duration: 0.5s, 0.5s;
  animation-delay: 0.7s, 0.7s; /* Delay for each animation */
  animation-fill-mode: forwards, backwards;
}
#resumeCard {  
  animation-name: fadein, translateUp;
  animation-duration: 0.5s, 0.5s;
  animation-delay: 1s, 1s; /* Delay for each animation */
  animation-fill-mode: forwards, backwards;
}
#aboutMeCard {  
  animation-name: fadein, translateUp;
  animation-duration: 0.5s, 0.5s;
  animation-delay: 1.3s, 1.3s; /* Delay for each animation */
  animation-fill-mode: forwards, backwards;
}

.link-styles:hover { /*card animation*/
  transform: translate(-3px, -3px);
  box-shadow: 8px 8px rgba(0, 0, 0);

}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@keyframes translateUp {
    from { transform: translateY(15px); }
    to   { transform: translateY(0px);}
}

/* @