.cardWrap {
  display: flex;
  flex-direction: row;
  gap: 30px;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
}

.cardHeader {
  font-family: 'Courier New', Courier, monospace;
  border-bottom: solid;
  padding-bottom: 10px;
}

.cardDesc {
  font-family: 'Courier New', Courier, monospace;
  
}

.Card {
  border-radius: 10px;
  border-width: 2px;
  border: solid #000;
  padding: 10px;
  box-shadow: 2px 2px;
}